$component-cls: 'main';

.#{$component-cls} {

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
  }
}

.copyright {
  position: fixed;
  right: 5%;
  bottom: 5%;
}
